body{
    height: 100vh;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "side header"
    "side main";
}

.header{
    grid-area: header;
}

.sidebar{
    background-color: #f48505;
    grid-area: side;
}

.log{
    align-items: flex-start;
    font-family: "Satisfy", serif;
    font-size: 2.5rem;
  
  }


  
    .hmb {
      font-size: 24px;
      border: none; 
      color: white; 
      cursor: pointer;
    }

.mainn{
    grid-area: main;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "c1 c2 c3";
}
