@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.satisfy-regular {
    font-family: "Satisfy", serif;
    font-weight: 400;
    font-style: normal;
  }

  @font-face{
    font-size: "Satisfy", serif;
    src: url(../fonts/Satisfy/Satisfy-Regular.ttf);
  }
  
  :root {
    --bs-fontfirst--fontfamily: "Poppins";
    --bs-fontsecond--fontfamily: "Satisfy";
    --bs-color: #ffb03b;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    font-family:"Poppins";
    margin: 0px;
    padding: 0px;
    
}

div.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

div h1.logo{
    font-family: "Satisfy", serif;
    color: var(--bs-color);
    font-size: 3.4rem;
}

.log{
  position: relative;
  top: 10px;
  right: 10px;
  font-family: "Satisfy", serif;
  color: var(--bs-color);
  font-size: 2.5rem;

}

  .hmb {
    position: relative; 
    top: 0px;
    right: 7%;
    font-size: 24px;
    padding: 15px; 
    width: 60px; 
    height: 60px; 
    border: none; 
    border-radius: 50%; 
    color: white; 
    display: flex; 
    justify-content: center;
    cursor: pointer;
  }

  div.card{
    border: none!important;
    width: 40%;
    height: 72vh!important;
    box-shadow: 0px 0px 7px -1px black;

  }

  div.login{
    border: none!important;
    width: 50%;
    height: 58vh!important;
    box-shadow: 0px 0px 7px -1px black;

  }

  div.aut{
    border: none!important;
    width: 50%;
    height: 45vh!important;
    box-shadow: 0px 0px 7px -1px black;
  }

  form h3{
    text-align: center;
    margin: 5px;
   
}

  form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }

  form div{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5px;
    
  }

  form div input{
    border: 2px solid #ffb03b!important;
  }

  form div label{
    color: #ffb03b;
    font-size: 15px;
    font-weight: bold;

  }
    
  form div.col-12{
    display: flex;
    align-items: center;
    justify-content: center;

  }

  form div #cadastrar, #login, #autentic{
    color: #ffffff;
    background-color: var(--bs-color);
    width: 80%;

  }

  .login label {
    color:  black;
    font-family: Arial, sans-serif;
    font-weight: lighter;
}

  a{
    text-decoration: none;
  }

  form div .link{
    text-decoration: none;
    color: #ffb03b;
  }

  form div a, p{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  header div button{
    float: right;
    background-color: #f48505!important;
    border: none!important;
    height: auto;
    color: #ffffff;
  }
  
  nav#sidebar{
    background-color: #f48505!important;

  }

  div.home-card{
    border: none!important;
    width: 40%;
    height: 20vh!important;
  }
  
  div.card-body p{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
  }


  