@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.satisfy-regular {
  font-family: "Satisfy", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --bs-fontfirst--fontfamily: "Poppins";
  --bs-fontsecond--fontfamily: "Satisfy";
  --bs-color: #ffb03b;
}

 body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "side header"
    "side main";
}

.header{
    grid-area: header;
    box-shadow: 0px 2px 5px -4px black!important;
    height: auto;
}

div button, .btn{
  background-color: #f48505!important;
  border: none!important;
  color: #ffffff;
}

header div i{
  color: #f48505;
  font-size: 1.3rem;
}

header div.container{
  float: right;  
}

.sidebar {
  background-color: #f48505;
  grid-area: side;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px; /* Largura inicial do sidebar */
  transition: all 0.2s ease-in-out; /* Transição suave para o efeito */
  z-index: 100;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar.collapsed .log {
  display: none;
}

.sidebar .nav-link {
  display: flex;
  align-items: center; /* Para centralizar os itens verticalmente */
  gap: 10px; /* Espaço entre o ícone e o texto */
}

.sidebar-text {
  transition: all 0.3s ease-in-out; /* Transição suave para o efeito */
}

.sidebar.collapsed .sidebar-text {
  display: none;
}

.hmb {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  padding: 10px; 
  cursor: pointer; 
  display: flex;
  align-items: center;
  justify-content: center;
}

section div.container{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 3% 0%;

}

.log{
  font-family: "Satisfy", serif;
  font-size: 2.5rem;
  padding: 8%;
  
}

.mainn{
    padding: 35px;
    grid-area: main;
    display: flex;
    flex-direction: column;
}

main div#user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

main div.modal-body div.linha{
  background-color: #ffa60088;
  padding: 5% 0;
  text-align: start;
}

main div .form-control{
    border-color: var(--bs-color)!important;
    border: 2px solid;
}

table.table.table-hover{
  border-collapse: separate!important;
  border-spacing: 0 5px!important;
  font-size: 14px;
  border-color: transparent;
  
}

thead, tr{
  box-shadow: 2px 2px 8px -6px !important;
}

